html {
    width: 100%;
}
body {
    width: 100%;
}
head {
    width: 100%;
}
.contain {
    width: 100%;
    height: 800px;
    background-color: white;
     position: absolute; 
}
/* 画布 */
#cont {
    /* display: inline-block; */
    position: absolute; 
    top: 0;
    left: 12%;
    
}

